* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

p {
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Arial';
  font-size: 18px;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  height: 60vh;
  max-width: 95vw;
  object-fit: cover;
  border: 2px solid #fff000;
  border-radius: 25px;
}